<?xml version="1.0" encoding="UTF-8"?>
<!--

    @formatter:off
    Copyright © 2019 admin (admin@infrastructurebuilder.org)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    @formatter:on

-->
<settings xsi:schemaLocation="https://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="https://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance">
  <!--  <localRepository>${user.home}/.m2/repository</localRepository> -->
  <servers>
    <server>
      <id>ossrh</id>
      <username>mykelalvis</username>
      <password>7NU252w4ZrJfbDBcBnRz</password>
    </server>
    <!-- If using a repo manager
    <server>
      <id>nexus</id>
      <username>nexus_username</username>
      <password>nexus_password</password>
    </server>
    -->
  </servers>
  <!-- This should be set if you need to target a
  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>remote-repos</name>
      <url>https://repo.maven.apache.org/maven2/</url>
      OR
      <url>https://my.nexus.host.com/repository/grouprepo</url>
      <id>nexus</id>
    </mirror>
  </mirrors>
  -->
  <profiles>
  <profile>
      <!-- For this:
        set property <gpg.signing.profiles>releases,MY_SIGNING_PROFILE</gpg.signing.profiles>
      -->
      <id>MY_SIGNING_PROFILE</id>
      <properties>
        <gpg.executable>gpg</gpg.executable>
        <gpg.keyname>0xABCDEF</gpg.keyname>
        <gpg.passphrase>SUPERSECRETPASSPHRASE</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
</settings>
